* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.freccia-sx , .freccia-dx {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    display: flex;
    align-items: space-evenly;
    justify-content: center;
}

.box-image {
    height: calc((800px) / 16 * 9);
    width: 800px;
    position: relative;
}

.box-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display:none;
}

.box-image img.active {
    display: block;
}

.slider {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: black;
}

.slider i {
    font-size: 20px;
    padding: 10px;
}

.slider i.active {
    transition: 0.2s;
    color: white;
}
